body {
  text-align: center;
  background: #1f8a70;
  color: white;
  font-family: Arial;
}

.box {
  background: white;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 80%;
}

button {
  padding: 10px;
  width: 50%;
  margin-top: 10px;
}

.passBox {
  display: flex;
  justify-content: center;
}

.passBox input {
  width: 70%;
}

.passBox span {
  cursor: pointer;
  padding: 10px;
}
