body {
  margin: 0;
  background: #021a2b;
  font-family: Arial;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* BOX */
.box {
  background: #0a2a3f;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
}

h2 {
  color: white;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

/* PASSWORD FIELD */
.password-field {
  position: relative;
}

.password-field span {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

/* CAPTCHA */
.captcha {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.captcha span {
  color: white;
  font-size: 18px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #00d084;
  border: none;
  color: white;
  border-radius: 5px;
}

p {
  color: #00d084;
  cursor: pointer;
  font-size: 14px;
}
